.form {
    margin-top: 20px;
}
.form-label {
    margin-top: 15px;
}
#nom-p {
    color: rgb(255, 0, 0);
    position: absolute;
    display: none;
}
#prenom-p {
    color: rgb(255, 0, 0);
    position: absolute;
    display: none;
}
#mail-p {
    color: rgba(68, 68, 68, 0.252);
    position: absolute;
    display: none;
}
#bouton-confirmer {
    margin-top: 15px;
    text-align: right;
}

/*page de connexion*/
.form-connexion {
    padding-left: 20vw;
    padding-right: 20vw;
    width: 90vw;
    margin-top: 150px;
}
@media screen and (max-width: 680px) {
    .form-connexion {
        padding-left: 0vw;
        padding-right: 0vw;
    }
}
